<span>mcferren excercise</span>

<input [(ngModel)]="input">

<button (click)="handleSearchButtonClick()">Search</button>

<span *ngIf="(api.userChannel | async)?.items?.length > 0">
    total: {{(api.userChannel | async)?.total_count}}
</span>

<hr>

<div class="user-container">

    <user *ngFor="let user of (api.userChannel | async)?.items" 
         [userobj]="user"></user>
</div>

<span *ngIf="(api.userChannel | async)?.items?.length > 0">
    <ul>
        <li *ngFor="let linknum of paginationLinks;"
            (click)="handlePaginationClick(linknum)"
            [ngStyle]="{'background': linknum == page ? '#000' : '#fff',
                        'color': linknum == page ? '#fff' : '#000' }"
            class="pag-block">

            {{linknum}}
        </li>
    </ul>
    <em style="font-size: 9px">
        * Only the first 1000 search results are available (per github api rules)<br>
        * API rate limit for star and follower counts
    </em>
</span>
