<span>mcferren excercise</span>

<input [(ngModel)]="input">

<button (click)="api.fetchUsers(input, page)">Search</button>

<span *ngIf="(api.userChannel | async)?.items?.length > 0">
    total: {{(api.userChannel | async)?.total_count}}
</span>

<hr>

<div class="user-container">

    <user *ngFor="let user of (api.userChannel | async)?.items" 
         [userobj]="user"></user>
</div>

<span *ngIf="(api.userChannel | async)?.items?.length > 0">
    <ul>
        <li *ngFor="let link of paginationLinks; let i = index"
            (click)="handlePaginationClick(i + 1)"
            [ngStyle]="{'background': i + 1 == page ? '#000' : '#fff',
                        'color': i + 1 == page ? '#fff' : '#000' }"
            class="pag-block">

            {{i + 1}}
        </li>
    </ul>
</span>
